<ul id="navPrimary">
    <li>
        <a href="/">Home</a>

    </li>


    <li>
        <a href="/playlists">Playlists</a>
    </li>

    <li>
        <a href="/genres">Genres</a>
    </li>
    <li>
        <a href="/streaks">Streaks</a>
    </li>
    <li>
        <a href="/hot">Hot</a>
    </li>
    <li>
        <a href="/debug">Debug</a>
    </li>

    <li>
        <a href="/rebuild">Build DB</a>

    </li>
</ul>

<script>
    console.log(window.location.href, 'hi')

    const links = document.getElementsByTagName('a')

    for (var i = 0; i < links.length; i++) {
        if (links[i].href === window.location.href) {
            links[i].parentElement.classList.add('active')
        }
    }
</script>