<ul id="navPrimary">
    <li>
        <a href="/">Home</a>

    </li>


    <li>
        <a href="/visualize">Playlists</a>
    </li>

    <li>
        <a href="/genres">Genres</a>
    </li>
    <li>
        <a href="/streaks">Streaks</a>
    </li>
    <li>
        <a href="/debug">Debug</a>
    </li>

    <li>
        <a href="/parse">Build DB</a>

    </li>
</ul>