<%- include ('../partials/head.ejs') %>

    <style>
        table {
            border-collapse: collapse;
            border: 1px solid var(--colorText);
        }

        td,
        th {
            border: 1px solid var(--colorText);
            min-width: auto
        }

        tr.tint0 {
            background-color: var(--colorSecondary1);
            color: var(--colorBackground);
        }

        tr.tint1 {
            background-color: var(--colorSecondary2);
        }

        tr.tint2 {
            background-color: var(--colorBackground);
        }

        button {
            background-color: var(--colorSecondary1);
            border: 1px solid var(--colorText);
            padding: .25rem
        }


        #filter {
            padding: 1rem;
        }

        #selectGenres {
            display: none;
            background-color: var(--colorBackground);
            border: 1px var(--colorSecondary1) solid;
            list-style: none;
            max-height: 18rem;
            padding: 0;
            position: absolute;
            left: 1rem;
            top: 5rem;
            overflow-y: auto;
            overflow-x: hidden;
            width: 12rem;
        }

        #selectGenres.active {
            display: block;
        }

        #selectGenres li {
            cursor: pointer;
            padding: .25rem;
        }

        #selectGenres li:hover {
            background-color: var(--colorSecondary2);
        }

        div#tags {
            padding: 1rem;
        }

        div.tag {
            background-color: var(--colorSecondary2);
            display: inline-block;
            margin: 0 .25rem .25rem 0;
            padding: 0.25rem;
        }

        div.tagWrapper {
            align-items: center;
            display: flex;
            padding: 0 .5rem;
        }



        div.tag:hover {
            background-color: var(--colorSecondary1);
            cursor: pointer;
            color: var(--colorBackground)
        }

        div.tag:hover .icon svg path {
            fill: var(--colorBackground)
        }

        .icon {
            margin-left: .5rem;
            width: 1rem;
        }
    </style>
    </head>

    <body>


        <%- include ('../partials/nav.ejs') %>

            <!-- <p>"npm run dev" // "rs" to restart server live</p>
 -->


            <div id="filter">
                <label for="inputGenre">Add Genre</label>
                <input type="text" name="inputGenre" id="inputGenre" placeholder="Add Genre">

                <button id="bttnClearAll" class="">Clear All</button>

                <ul id="selectGenres">

                </ul>


            </div>

            <div id="tags"></div>


            <p id="tableCount"></p>
            <table id="tracks"></table>

            <script>
                // console.log('fetching')

                let tablecount = 0;
                let sortType = 'debug'
                let currentGenre = ''
                let delayUpdate = ''
                let listGenres = {}
                let searchGenres = []
                // fetchTable()
                getGenreList()

                const inputGenre = document.getElementById("inputGenre")
                const tags = document.getElementById("tags")
                const selectGenres = document.getElementById("selectGenres")
                const bttnClearAll = document.getElementById("bttnClearAll")


                // ******************************************
                // ******************************************
                // genre input box
                // ******************************************
                // ******************************************


                // inputGenre.value = currentGenre
                inputGenre.addEventListener('keyup', (e) => {
                    currentGenre = inputGenre.value
                    selectGenres.className = 'active'
                    populateAutoComplete()

                    // clearTimeout(delayUpdate)
                    // delayUpdate = setTimeout(updateSearchGenres, 1500); // 5000 milliseconds = 5 seconds

                    if (event.key === 'Enter') {
                        delayUpdate = setTimeout(function () {
                            selectGenres.className = '';
                        }, 250)

                        updateSearchGenres()
                    }
                })



                inputGenre.addEventListener('focus', function (event) {
                    selectGenres.className = 'active';
                })

                inputGenre.addEventListener('blur', function (event) {
                    delayUpdate = setTimeout(function () {
                        selectGenres.className = '';
                    }, 250)
                })

                // ******************************************
                // ******************************************
                // buttons
                // ******************************************
                // ******************************************

                bttnClearAll.addEventListener('click', function (event) {
                    currentGenre = ''
                    searchGenres = []
                    updateTags()
                    populateAutoComplete()
                    fetchTable()
                })


                // ******************************************
                // ******************************************
                // autocomplete list 
                // ******************************************
                // ******************************************

                selectGenres.addEventListener('click', function (event) {

                    if (event.target && event.target.classList.contains('dynamic-element')) {

                        console.log(event.target.innerHTML)
                        currentGenre = event.target.innerHTML
                        // inputGenre.value = currentGenre

                        searchGenres.push(event.target.innerHTML)


                        delayUpdate = setTimeout(function () {
                            inputGenre.value = '';
                        }, 250)


                        updateSearchGenres()
                    }
                });

                // ******************************************
                // ******************************************
                // tags
                // ******************************************
                // ******************************************
                function updateTags() {
                    tags.innerHTML = ''

                    for (var i = 0; i < searchGenres.length; i++) {
                        const entry = document.createElement('div');
                        entry.classList.add('tag');
                        entry.setAttribute('data-genre', searchGenres[i]);



                        entry.innerHTML = searchGenres[i]



                        tags.appendChild(entry)

                    }
                }


                tags.addEventListener('click', function (event) {
                    console.log(event.target)
                    if (event.target && event.target.classList.contains('tag')) {


                        const removeTag = decodeHtml(event.target.dataset.genre)

                        console.log(removeTag)

                        const index = searchGenres.indexOf(removeTag);
                        if (index !== -1) { searchGenres.splice(index, 1); }

                        updateTags();
                        fetchTable();
                    }
                });

                function decodeHtml(html) {
                    var txt = document.createElement("textarea");
                    txt.innerHTML = html;
                    return txt.value;
                }

                // ******************************************
                // ******************************************
                // update the list to send and fetch
                // ******************************************
                // ******************************************
                function updateSearchGenres() {

                    if (currentGenre !== '') {

                        // searchGenres = []
                        const regex = new RegExp(currentGenre, 'i'); // Create a case-insensitive regex



                        for (genre in listGenres) {
                            const stripped = genre.replace(/[.,\/#!$%\^&\*;:{}=\-_`~()]/g, '');
                            if (regex.test(stripped)) {
                                searchGenres.push(genre)
                                // to list

                            } // test if serach is in genre
                        }//

                        console.log(searchGenres)
                    }

                    updateTags()
                    populateAutoComplete()
                    // selectGenres.className = ''
                    fetchTable()
                }





                // ******************************************
                // ******************************************
                // update the autocomplete
                // ******************************************
                // ******************************************
                function populateAutoComplete() {
                    // console.log(listGenres)
                    const regex = new RegExp(inputGenre.value, 'i'); // Create a case-insensitive regex


                    selectGenres.innerHTML = ''
                    for (genre in listGenres) {
                        const stripped = genre.replace(/[.,\/#!$%\^&\*;:{}=\-_`~()]/g, '');
                        if (regex.test(stripped)) {
                            const entry = document.createElement('li');
                            entry.classList.add('dynamic-element');

                            entry.innerHTML = genre
                            selectGenres.appendChild(entry)
                        } // test if serach is in genre


                    }
                }


                // ******************************************
                // ******************************************
                // fetches
                // ******************************************
                // ******************************************

                function getGenreList() {

                    if (Object.keys(listGenres).length === 0) {
                        fetch(`/tracks?sort=fullGenreList`)
                            .then(response => {
                                if (response.ok) { // Check if response is OK (200-299)
                                    return response.json(); // If true, return the JSON data
                                } else {
                                    throw new Error(`Error ${response.status}: ${response.statusText}`); // Otherwise, rethrow an error
                                }

                            })
                            .then(data => {

                                data.forEach(track => {
                                    // console.log(track)
                                    const trackRow = document.createElement('tr');


                                    for (columns in track) {
                                        const column = track[columns]


                                        listGenres[column] = column

                                    } // each col


                                }); // each row

                                updateSearchGenres()

                            })
                            .catch(error => console.error('Error fetching tracks:', error))
                            ;
                    } // if empty


                } //getGenreList

                function fetchTable() {
                    const tracksDiv = document.getElementById('tracks');
                    tracksDiv.innerHTML = ''

                    const tableCount = document.getElementById('tableCount')
                    // console.log(rows)
                    tableCount.innerHTML = `0 rows`




                    const params = new URLSearchParams();
                    searchGenres.forEach((item, index) => {
                        params.append(`genre[${index}]`, item);
                    });

                    fetch(`/tracks?sort=${sortType}&${params.toString()}`)
                        .then(response => {
                            if (response.ok) { // Check if response is OK (200-299)
                                return response.json(); // If true, return the JSON data
                            } else {
                                throw new Error(`Error ${response.status}: ${response.statusText}`); // Otherwise, rethrow an error
                            }

                        })
                        .then(data => {
                            const tracksDiv = document.getElementById('tracks');
                            tracksDiv.innerHTML = ''
                            // console.log(data)
                            const trackRow = document.createElement('tr');
                            for (label in data[0]) {
                                const t1 = document.createElement('th');
                                t1.textContent = label
                                trackRow.appendChild(t1)
                            }
                            tracksDiv.appendChild(trackRow);

                            // tracksDiv.innerHTML = '<tr><th>ID</th><th>Playlist Name</th><th>Track Position</th><th>Artist</th><th>Name</th><th>Genre</th><th>Paired Name</th></tr>'
                            rows = Object.keys(data).length

                            const tableCount = document.getElementById('tableCount')
                            // console.log(rows)
                            tableCount.innerHTML = `${rows} rows`

                            // let debug = 0
                            data.forEach(track => {
                                // console.log(track)
                                const trackRow = document.createElement('tr');

                                // if (debug === 0) {
                                //     debug++
                                //     console.log(track)
                                // }

                                for (columns in track) {
                                    const column = track[columns]


                                    const t1 = document.createElement('td');
                                    t1.textContent = (columns === 'pairedName' || columns === 'genre') ? column.slice(0, 18) + '…' : column
                                    trackRow.appendChild(t1)

                                    if (columns === 'MAX(playlistName)') {
                                        // console.log(column)

                                        const today = new Date();
                                        const pastDate = new Date(column); // Replace with your date

                                        const timeDifference = Math.abs(today - pastDate); // Convert time difference from milliseconds to days 
                                        const dayDifference = Math.ceil(timeDifference / (1000 * 60 * 60 * 24));

                                        if (dayDifference < 365) {
                                            trackRow.className = "tint0"
                                        } else if (dayDifference > 365 && dayDifference < 365 * 2) {
                                            trackRow.className = "tint1"
                                        } else {
                                            trackRow.className = "tint2"
                                        }
                                    }



                                } // each col

                                tracksDiv.appendChild(trackRow);
                            }); // each row

                        })
                        .catch(error => console.error('Error fetching tracks:', error))
                        ;


                }// fetch table
            </script>
    </body>

    </html>